"use strict";
/*jslint browser: true*/ /*global $*/

$(document).ready(()=>{
  //set up button listeners

  //load data
  loadInstances();
});

var loadInstances = ()=>{
  update();
};

var update = ()=>{
  $.get("./api/instances", data=>{
    var parsed = JSON.parse(data);
    var table = "<table><tr><th>Kill</th><th>Type</th><th>Data</th></tr>";

    $.each(parsed.instances, (index, elem)=>{
      
      if(elem.type == "manager"){
        table += (`<tr><td>${getKillButton(elem.type, elem.port)}</td><td>Manager</td><td>Port: ${elem.port}</td></tr>`);
      }
    });

    table += "</table>";

    $("#running-instances").html(table);

    $.each(parsed.backtests, (index, elem)=>{

    });
  }).fail(err=>{
    console.log("Unable to connect to ")
  })
}

var getKillButton = (type, data)=>{
  return `<input type="button" onclick="killConfirm('${type}', '${data}')" value="X">`;
};

var killConfirm = (type, data)=>{
  var res = window.confirm("Are you sure you want to kill this instance?");
  if(res){
    killInstance(type, data);
  }
};

var killInstance = (type, data)=>{
  $.get(`./api/instances/kill/${type}/${data}`, res=>{
    var parsed = JSON.parse(res);

    if(parsed.success){
      $("#statusbar").html("<p>Successfully killed instance.</p>");
      update();
    }
  }).fail(err=>{
    $("#statusbar").html(`<p>Failed to kill instance: ${err.status}</p>`);
  })
};

var spawnInstance = (type, data)=>{
  $.get(`./api/instances/spawn/${type}/${data}`, res=>{
    $("#statusbar").html(res);
  });
}
