<html>
<head>
  <title>Ameobot Management Console</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
  <script>
  $(document).ready(function(){
    var serverAddress = "http://<%= ip %>";
    $("#backtestStartButton").click(function(){
      if($("#backtestTypeSelector option:selected").text().toLowerCase() == "fast"){
        var requestAddress = serverAddress + "api/backtest/start/fast/" + $("#backtestStartPair").val();
        $.post(requestAddress, {startTime: $("#backtestStartTime").val(), interval: $("#backtestSendInterval").val()});
      }else{
        var requestAddress = serverAddress + "api/backtest/start/live/" + $("#backtestStartPair").val();
        $.post(requestAddress, {startTime: $("#backtestStartTime").val()});
      }
    });
    $("#backtestStopButton").click(function(){
      var requestAddress = serverAddress + "api/backtest/stop/" + $("#backtestStopPair").val();
      $.post(requestAddress);
    });
    $("#backtestStopAllButton").click(function(){
      var requestAddress = serverAddress + "api/backtest/stop/all";
      $.post(requestAddress);
    })
  });
  </script>
</head>
<body>
  <h1>Bot Admin Functions</h1>
  <h1>Backtests</h1>
  <h2>Start Backtest</h2>
  <b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStartPair">
  <br><b>Type:  </b><select id="backtestTypeSelector"><option value="fast">Fast</option><option value="live">Live</option></select>
  <br><b>Start Time:  </b><input type="text" value="1389155256.17" id="backtestStartTime">
  <br><b>Fast Send Interval:  </b><input type="text" value="50" id="backtestSendInterval">
  <br><input type="button" value="Start" id="backtestStartButton">
  <hr>
  <h2>Stop Backtests</h2>
  <b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStopPair">
  <br><input type="button" value="Stop" id="backtestStopButton">  <input type="button" value="Stop All" id="backtestStopAllButton">
  <h1>Command Output</h1>
  <div id="commandOutput"></div>
</body>
</html>
