<html>
<head>
  <title>Ameobot Management Console</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
  <script src="sources/index_script.js"></script>
  <link rel="stylesheet" href="sources/index_css.css">
</head>
<body>
  <h1>Bot Admin Functions</h1>
  <h1>Backtests</h1>
  <h2>Start Backtest</h2>
  <b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStartPair">
  <br><b>Type:  </b><select id="backtestTypeSelector"><option value="fast">Fast</option><option value="live">Live</option><option value="precalced">Pre-Calculated</option><option value="nostore">No-store</option></select>
  <br><b>Start Time:  </b><input type="text" value="1451887229.879" id="backtestStartTime">
  <div id="endtime" style="display: none;"><br><b>End Time:  </b><input type="text" value="1451919404.066" id="backtestEndTime"></div>
  <br><b>Fast Send Interval:  </b><input type="text" value="50" id="backtestSendInterval">
  <br><input type="button" value="Start" id="backtestStartButton">
  <hr>
  <h2>Stop Backtests</h2>
  <b>Currency Pair:  </b><input type="text" value="usdcad" id="backtestStopPair">
  <br><input type="button" value="Stop" id="backtestStopButton">  <input type="button" value="Stop All" id="backtestStopAllButton">
  <hr>
  <h1>Database Utils</h1>
  <input type="button" value="Flush Database" id="dbFlush"><input type="button" value="Dump Database" id="dbDump"><br>
  <input type="text" placeholder="Dump ID" id="dbRestoreId"><input type="button" value="Restore Database Dump" id="dbRestore">
</body>
</html>
