<html>
<head>
<title>Algobot instance Management Interface</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script type="text/javascript" src="sources/instance_script.js"></script>
<link rel="stylesheet" href="sources/instance_css.css">
</head>
<body>
<h1>Instance Management Interface</h1>
<div id="statusbar"></div>
<h2>Running Instances</h2>
<div id="running-instances"></div>
<h2>Create Instances</h2>
<h2>Manage Backtests</h2>
</body>
</html>
