<html>
<head>
<title>Algobot Monitoring Interface</title>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="../sources/monitor_script.js"></script>
</head>
<body>
<h1><center>Algobot Monitoring Interface</center></h1>
<div id="mainGraph" style="width: 100%; height: 475px; margin: 0 auto"></div>
<div id="momentumGraph" style="width: 100%; height: 350px; margin: 0 auto"></div>
<div id="config">
  <h2>Chart Config</h2>
  public.monitoredAveragePeriods = [10,30,60,300,3000];<br>
  public.monitoredMomentumPeriods = [60,120,300,1000];
  <p>Note: For momentum pair, enter it in the format [averagePeriod],[momentumPeriod].</p>
  <table>
  <tr>
  <td>Symbol</td>
  <td>Average Periods</td>
  <td>Momentum Pairs</td>
  </tr>
  <tr>
  <td>
    <input type="text" id="pairInput" value="usdcad"><br>
  </td>
  <td id="averages">
    <input type="text" class="averageInput" value="30"><br>
    <input type="button" id="averageRemove" value="Remove One"><input type="button" id="averageExtend" value="Add Another">
  </td>
  <td id="momentums">
    <input type="text" class="momentumInput" value="30,120"><br>
    <input type="button" id="momentumRemove" value="Remove One"><input type="button" id="momentumExtend" value="Add Another">
  </td>
  </tr>
  <tr>
  <td><input type="text" id="timeRange" value="1000"><input type="button" id="update" value="Update and Reset"></td>
  </tr>
  <tr><td><p><input type="checkbox" name="rawTicks" id="loadTicks">Plot raw ticks</p></td></tr>
  </table>
</div>
</body>
</html>
